version: 2
jobs:
  build:
    working_directory: /go/src/github.com/utilitywarehouse/${CIRCLE_PROJECT_REPONAME}
    docker:
    - image: circleci/golang:1.9
    steps:
      - checkout
      - run: git config --global url."https://$GITHUB_TOKEN:x-oauth-basic@github.com/".insteadOf "https://github.com/"
      - run: make install
      - run: make lint test

  deploy:
    working_directory: /go/src/github.com/utilitywarehouse/${CIRCLE_PROJECT_REPONAME}
    docker:
    - image: circleci/golang:1.9
    steps:
      - checkout
      - run: git config --global url."https://$GITHUB_TOKEN:x-oauth-basic@github.com/".insteadOf "https://github.com/"
      - run: make install
      - run: make lint test
      - setup_remote_docker:
          version: 17.06.0-ce
      - run: make ci-docker-build

workflows:
  version: 2
  development:
    jobs:
      - build:
          filters:
            branches:
              ignore: master
  deployment:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
